@import '../../../scss/index.scss';

.addpacientes{
    &__title {
        border-bottom: 1px solid $border-grey;
        padding: 15px;
    
        h2 {
          font-size: 22px;
          margin-bottom: 0;
          font-weight: bold;
          text-align: center;
        }
      }
      .form-group {
        padding-bottom: 20px;
    
        input {
          font-size: 25px;
          margin-top: 25px;
        }
        
      }

      .Selectd{
        font-size: 25px;
          margin-top: 25px;
      }

      .labeld{
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 0px;
      }
    
      button {
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        padding: 15px;
        border-radius: 50px;
        margin-top: 30px;
    
        .spinner-border {
          width: 25px;
          height: 25px;
        }
      }

      .link2 {
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        padding: 15px;
        border-radius: 50px;
        margin-top: 30px;
      }
      
}

