@import "../../../scss/index.scss";

.basic-modal {
    .modal-content {
      background-color: $background-light;
      border-radius: 25px;
      opacity: 0.8;
      color: $primary-dark-light;
  
      .modal-header {
        padding: 15px;
        border: 0;
        .modal-title {
          margin: 0 auto;
  
          img {
            width: 35%;
            display: block;
            margin: auto;
          }
        }
      }
  
      .modal-body {
        padding: 20px 40px 40px 40px;
      }
    }
  }
  